*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#nav1 {
    position: sticky;
    top: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #262626;
    border-bottom: 2px solid black;
 }
#nav1 img {
     cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 10px;
 }
 #inp1{
     text-transform: uppercase;
     align-items: end;
     height: 35px;
     width: 100px;
     background-color: #82b440;
     color: white;
     border-radius: 5px;
     /* margin-left: 530px; */
     /* margin-top: 10px; */
     cursor: pointer;
 }
 #inp1:hover{
    background-color: #6f9a37;
 }
 #nav2{
     height: 100px;
     width: 100%;
     
     display: flex;
     justify-content: space-evenly;
     /* justify-content: center; */
     /* align-items: center; */
     background-color: #262626;
 }
 .box4{
     height: 100px;
     /* width: 25%; */
     cursor: pointer;
     
 
 }
 #nav2 img{
     margin-left: 70px;
 }
 .box5{
     height: 100px;
     /* width: 25%; */
    
     background-image: url(./assets/working_time1.png);
     background-position-y: center;
     background-repeat: no-repeat;
     color: white;
     display: flex;
     align-items: center;
     cursor: pointer;
 }
 
 p{
     /* margin-top: 40px; */
     margin-left: 50px;
 }
 .box6{
     height: 100px;
     /* width: 25%; */
    
     background-image: url(./assets/working_location1.png);
     background-repeat: no-repeat;
     color: white;
     display: flex;
     align-items: center;
     cursor: pointer;
     background-position-y: center;
 
 }
 .box7{
     height: 100px;
     /* width: 25%; */
   
     background-image: url(./assets/working_phone.png);
     background-repeat: no-repeat;
     color: white;
     display: flex;
     align-items: center;
     cursor: pointer;
     background-position-y: center;
 
 }
 #nav3{
     height: 80px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     justify-content: space-between;
 }
 .box8{
     height: 80px;
     /* width: 50%; */
     
     
     
 }
 
 ul,li{
     display: flex;
     list-style: none;
     padding: 10px;
     cursor: pointer;
     font-size: 1rem;
     font-weight: 600;
     /* padding-left: 30px; */
 }
 .box9{
     height: 80px;
     /* width: 50%; */
     /* padding-left: 480px; */
     
 }
 .material-symbols-outlined {
      /* padding-left: 250px; */
      cursor: pointer;
      
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 24
   
 }
 #fixed1{
    position: fixed;
    top: 90%;
    left: 95%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1f71d0;
    cursor: pointer;
    
 }
 #fixed1:hover{
    background-color: blue;
 }
 #fixed2{
    position: fixed;
    top: 83%;
    left: 1%;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: #454545;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
    color: #eef0f3;
    background-image: url(./assets/envato-logo-blue-black.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    cursor: pointer;
 }
 #fixed2:hover{
    background-color: #82b440;
 }
 #fixed3{
    position: fixed;
    top: 90%;
    left: 1%;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: #454545;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
    color: #eef0f3;
    background-image: url(./assets/theme.jpeg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    cursor: pointer;
 }
 #fixed3:hover{
    background-color: #ec4949;
 }
 #box10{
     height: 800px;
     
     /* border: 2px solid black; */
     background-image: url(./assets/slider1_background-1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     justify-content: center;
     align-items: center;
     /* display: inline-block; */
     width: 100%
 }
 #h3{
    text-align: center;
    padding-top: 10%;
    color: #fff;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 #para{
    text-align: center;
    color: #fff;
    font-size: 25px;
 }
 #btn{
    /* padding-left: 580px; */
    display: flex;
    justify-content: center;
    padding-top: 20px;
 }
 #btn input{
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #1f71d0;
    
 }
 
 h1{
     color: white;
     font-size: 59px;
     /* align-items: center; */
     margin: auto;
 }
 
 #box11{
     height: 600px;
     width: 100%;
     /* border: 2px solid black; */
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .box13{
     /* height: 400px; */
     width: 50%;
     padding-top: 100px;
     padding-left: 100px;
 }
 .box12 img{
     height: 250px;
     padding-top: 100px;
     cursor: pointer;
 }
 #inp2{
     height: 40px;
     width: 80px;
     border: 2px solid blue;
     background-color: white;
     color: blue;
     cursor: pointer;
 }
 #box14{
     height: 600px;
     width: 100%;
     background-image: url(./assets/background_section1a.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     gap: 5%;
 }
 #box14 h3{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10%;
 }
.modi1{
    height: 100%;
    /* width: 50%; */
 }
.animate{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color: #1f71d0;
    /* position: absolute;
    left: -50px; */
    display: flex;
    animation-name: LeftToRight;
    animation-duration: 1s;
    /* padding-left: 5%; */
    padding-left: -100px;
    margin-top: 5%;
 } 

 .animate p{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color: #1f71d0;
    display: flex;
    align-items: center;
    animation-name: LeftToRight;
    animation-duration: 1s;
    color: white;
 }
 .spacing{
    margin: 5%;
    /* background-color: #1f71d0; */
 }
 
 @keyframes LeftToRight{
    from{
        width: 0px;
        background-color: #1f71d0;
    }
    to{
        width: 400px;
        background-color: #1f71d0;
    }
 }
 .modi2{    
    height: 100%;
    /* width: 50%; */
    
 }
 #box16{
     height: 600px;
     width: 20%;
     margin-left: 25%;
     margin-top: 50px;
    /* margin: auto; */
 }
 .img1{
     height: 200px;
     width: 100%;
     cursor: pointer;
     padding-top: 10px;
 }
 .img2{
     height: 200px;
     width: 100%; 
     cursor: pointer;
     padding-top: 10px;
 }
 .img3{
    cursor: pointer;
     height: 200px;
     /* width: 100% */
     padding-top: 10px;
     
     
 }
 .img4{
     height: 620px;
     width: 30%;
     cursor: pointer;
     margin-top: 50px;
     padding-top: 10px;
     /* margin: auto; */
    
 } 
 #box15{
     display: flex;
     margin: 2% auto;
     height: 650px;
     gap: 10px;
 }

 #box17{
     height: 600px;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     margin-top: 5%;
     
 }
 #box17 p{
    font-size: 1rem;
    /* font-weight: 400; */
    padding-top: 5%;
 }
 #head4{
     padding-top: 15%;
     margin-left: 50px;
     font-size: 30px;
     /* font-weight: 700; */
 }
 .box18{
     height: 450px;
     width: 50%;
    
 }
 .box19{
     height: 600px;
     width: 50%;
     
 }
 .inp3{
     height: 40px;
     width: 80px;
     border: 2px solid blue;
     background-color: white;
     color: blue;
     cursor: pointer;
     margin-left: 50px;
     margin-top: 50px;
 }
 .box19 img{
     height: 100%;
     width: 100%;
     cursor: pointer;
 }
 #box20{
     height: 600px;
     width: 100%;
     display: flex;
     
 }
 .box21{
     height: 100%;
     width: 50%;
     cursor: pointer;
     
     
 }
 .cart1{
     height: 200px;
     width: 300px;
     border: 3px solid black;
     background-image: url(./assets/mt_diagnose_set1_icon1.png);
     background-repeat: no-repeat;
     /* background-position: center; */
     background-position-y: 20%;
     background-position-x: 50%;

 }
 .cart2{
     height: 200px;
     width: 300px;
     border: 3px solid black;
     background-image: url(./assets/mt_diagnose_set1_icon2.png);
     background-repeat: no-repeat;
     background-position-y: 20%;
     background-position-x: 50%;
 }
 .box22{
     height: 600px;
     width: 50%;
     display: flex; 
     align-items: center;
    justify-content: center;
     gap: 5%; 
 }
  .p1{
     font-size: 1rem;
     padding-top: 30%;
     padding-left: 23%;
     color: #454545;
     font-size: 30px;
 }
 .p2{
     font-size: 1rem;
     padding-top: 30%;
     padding-left: 27%;
     color: #454545;
     font-size: 30px;
 }
 .head1{
     height: 30px;
     width: 300px;
    border-top: 3px solid black;
     text-align: center;
     font-size: 20px;
     padding-top: 5%;
 }
 .head2{
     height: 30px;
     width: 300px;
     border-top: 3px solid black;
     text-align: center;
     font-size: 20px;
     padding-top: 5%;
     
 } 
 #box23{
     height: 450px;
     width: 100%;
     
     display: flex;
     /* margin: auto; */
     gap: 20px;
    align-items: center;
    justify-content: center;
 }
 .cart3{
     height: 300px;
     width: 250px;
    
     background-color: #eef0f3;;
 }
 .cart4{
     height: 300px;
     width: 250px;
    
     background-color: #eef0f3;
    
 }
 .cart5{
     height: 300px;
     width: 250px;
    
     background-color: #eef0f3;
 }
 .c1{
     height: 15%;
     cursor: pointer;
    
 }
 .c2{
     height: 20%;
     cursor: pointer;
     
 }
 .c3{
     height: 50%;
     cursor: pointer;
    
     
 }
 .c3 p{
    text-align: center;
    padding-left: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    
 }
 .c4{
     height: 15%;
    cursor: pointer;
     padding-left: 20px;
 }
 .inp4{
     height: 35px;
     width: 80%;
     border-radius: 15px;
     background-color: #1f71d0;
     color: white;
 }
 .cart3:hover{
     border-top: 2px;
     border-left: 0px;
     border-bottom: 0px;
     border-right: 0px;
     border-color: black;
     border-style: solid;
 }
 .cart4:hover{
     border-top: 2px;
     border-left: 0px;
     border-bottom: 0px;
     border-right: 0px;
     border-color: black;
     border-style: solid;
 }
 .cart5:hover{
     border-top: 2px;
     border-left: 0px;
     border-bottom: 0px;
     border-right: 0px;
     border-color: black;
     border-style: solid;
 }
 #box24{
     height: 350px;
     width: 90%;
     
     display: flex;
     margin: 5% auto;
 }
 .box25{
     height: 100%;
     width: 50%;
     background-color: #1f71d0;
    
 }
 .box25 h3{
    color: #eef0f3;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 5%;
 }
 .box25 p{
    padding-top: 5%;
 }
 #inp7 input{
    height: 40px;
    width: 110px;
   border: 2px solid white;
    color: #eef0f3;
    margin-left: 50px;
    margin-top: 20px;
    margin-top: 5%;
 }
 
 #paranew1{
    color: #eef0f3;
    font-size: 20px;
 }
 .box26{
     height: 100%;
     width: 50%;
     cursor: pointer;
    
 }
 #box27{
     height: 350px;
     width: 90%;
    /* padding-top: 30px; */
     display: flex;
     margin: auto;
     
  
     
 }
 .box28{
     height: 100%;
     width: 50%;
     cursor: pointer;
    
 }
 .box29{
     height: 100%;
     background-color: #1f71d0;
     width: 50%;
    
    
 }
 .box29 h3{
    color: #eef0f3;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 5%;
 }
.box29 p{
    padding-top: 5%;
}
 #box30{
     height: 200px;
     width: 60%;
    padding-top: 30px;
     display: flex;
     margin: 5% auto;
 }
 .box31{
     height: 200px;
     width: 25%;
     cursor: pointer;
     
 
 }
 .box32{
     height: 200px;
     width: 25%;
     cursor: pointer;
     
 
 }
 .box33{
     height: 200px;
     width: 25%;
     cursor: pointer;
 
 }
 .box34{
     height: 200px;
     width: 25%;
     cursor: pointer;
 
 }
 #box35{
     height: 450px;
     width: 100%;
     padding-top: 30px;
     display: flex;
 }
 .box36{
     height: 450px;
     width: 50%;
    
 }
 .box37{
     height: 450px;
     width: 50%;
     background-image: url(./assets/pricing_style1_background.jpg);
     background-size: cover;
     color: #fff;
     padding-left: 50px;
    display: flex;
     align-items: center;
     justify-content: center;
 }
 .box37 h3{
    padding-top: 80px;
 }
 input{
     height: 30px;
     width: 250px;
     border-radius: 5px;
     background-color: transparent;
     cursor: pointer;
   
 }
 #inp5{
     height: 30px;
     width: 510px;
     border-radius: 5px;
     background-color: transparent;
 }
 #inp6{
     height: 40px;
     width: 100px;
     background-color: #1f71d0;
     color: white;
     border-radius: 5px;
     border: none;
 }
 #box38{
     height: 100px;
     width: 100%;
     border: 2px solid black;
     background-color: #262626;
     display: flex;

 }
 .box39{
     height: 100px;
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
    
 }
 .box40{
     height: 100px;
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 
 }